body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.stoplights {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.post-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.post-item {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.traffic-light__bulbs {
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100px;
  background: black;
  border-radius: 5px;
}

.traffic-light__bulbs span {
  margin: 2px;
  margin: auto;
  height: 75px;
  width: 75px;
  border-radius: 100px;
}
.centered{
  text-align: center;
}

.red-on {
  background-color: red;
  box-shadow: red 0px 0px 20px;
}

.yellow-on {
  background-color: yellow;
  box-shadow: yellow 0px 0px 20px;
}

.green-on {
  background-color: green;
  box-shadow: green 0px 0px 20px;
}


.red-off {
  background: rgba(255, 0, 0, 0.25);
}


.yellow-off {
  background: rgba(255, 212, 0, 0.25);
}

.green1, .green2 {
  background: rgba(36, 205, 3, 1);
  transition: 0.5s;
}

.green-off {
  background: rgba(36, 205, 3, 0.25);
}

.traffic-light__pole {
  display: block;
  height: 200px;
  width: 25px;
  background: #000;
  margin: 0 auto;
}
.Pedestrain-btn{
  padding: 15px 25px;
  border-radius: 16px;
  background: green;
  border: none;
  color: white;
  cursor: pointer;  
}
.mr{
  margin-left: 12px !important;
}
.stage-btn{
  margin-top: 12px;
  padding: 15px 25px;
  border-radius: 8px;
  background: rgb(54, 102, 121);
  border: none;
  color: white;
  cursor: pointer;  
}
.show-steps{
  margin-top: 30px;
}
div.greenlight-set-area {
  display: flex;
  justify-content: space-evenly;
  padding: 6px 8px;
  width: 30%;
  margin: 0 auto;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #dde3e5;
}
.change-case {
  margin-left: auto;
}
.quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background: #eaeaea;
  border-radius: 10px;
  padding: 1rem 0.4rem;
}

.quantity-btn {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0px 8px;
  cursor: pointer;
}
.quantity-btn svg {
  width: 15px;
  height: 15px;
}
.quantity-input {
  outline: none;
  user-select: none;
  text-align: center;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}
.flex-1{
  flex: 1;
}
.heading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.heading{
  flex-basis:auto;
  flex-grow:0;
  text-align:center;
}
.change-case-container{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.change-case{
  margin-left: auto;
  margin-right: 30px;
}
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #ccc;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #ccc;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #000;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

/* END Loader style */